<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: Wed, Jun 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>12 noon</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/organization-geospatial/">Intro to Geospatial Concepts</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-intro-geospatial/">Intro to R for Geospatial Data</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: Fri, Jun 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-intro-geospatial/">Intro to R for Geospatial Data (contd)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Intro to Geospatial Vector Data with R: 6, 7</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>


<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: Mon, Jun 7</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>12 noon</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Intro to Geospatial Vector Data with R: 8, 9, 10</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4: Tue, Jun 8</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Intro to Geospatial Raster Data with R: 1, 3, 4</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
 </div>


<div class="row">        <!-- day 5 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 5: Wed, Jun 9</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>12 noon</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Intro to Geospatial Raster Data with R: 11, 13</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
